<div class="ui modal">
  <div class="ui header">
    <i class="trash icon"></i>
    Delete Bookmarks?
  </div>
  <div class="scrolling content">
    <p>Are you sure you want to delete these bookmarks?</p>
    <table class="ui celled table">
      <thead>
        <th>Title</th>
        <th>URL</th>
      </thead>
      <tbody>
        <% models.forEach((model) => { %>
          <tr>
            <td><%= model.title %></td>
            <td><%= model.uri %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <div class="ui cancel button">
      <i class="remove icon"></i>
      Cancel!
    </div>
    <div class="ui red ok button">
      <i class="checkmark icon"></i>
      Yes, I'm sure
    </div>
  </div>
</div>
