- content_for :page_title do
  Invitations

%h2 Invitations

%p Open registration for transientBug is currently closed, however if you have received an invite code, you can enter it below to proceed with registration.

= form_with url: invites_path, method: :post, class: "" do
  = label_tag "code", "Invite Code"
  = text_field_tag "code", "", placeholder: "12345"
  = button_tag "Use", class: "", type: "submit"
