- content_for :page_title do
  Editing Bookmark "#{ @bookmark.title }"

= render "navbar"

- content_for :body do
  .ui.row
    %h1 Editing Bookmark

  .ui.row
    = render partial: "form", locals: { bookmark: @bookmark }
