- content_for :page_title do
  Editing Bookmark "#{ @bookmark.title }"

- content_for :sidebar do
  .tb.bulk-action-menu
    = link_to bookmark_path(@bookmark), class: "button button-white-outline hover:button-white text-white hover:text-gray-800" do
      %i.chevron.left.icon
      Back to bookmark

%h2.ui.dividing.header Editing Bookmark

= render partial: "form", locals: { bookmark: @bookmark }
