- content_for :page_title do
  Bookmarks

= render "navbar"

- content_for :body do
  .ui.row
    %h1 Your Bookmarks

  .ui.row
    .ui.divider

  = render partial: "bookmark_list", locals: { bookmarks: @bookmarks }
