- content_for :page_title do
  New Bookmark

- content_for :sidebar do
  .tb.bulk-action-menu
    = link_to bookmarks_path, class: "button button-white-outline hover:button-white text-white hover:text-gray-800" do
      %i.chevron.left.icon
      Back to bookmarks

%h2.dividing New Bookmark

= render partial: "form", locals: { bookmark: @bookmark }
