- content_for :page_title do
  Searching Bookmarks

= render "navbar"

- content_for :body do
  .ui.row
    %h1 Search Results

  .ui.row
    .ui.search
      .ui.icon.input
        = form_tag search_bookmarks_path, method: :get do
          = search_field_tag "q", params[:q], class: "ui prompt", placeholder: "Search ...", aria: { label: "search" }
        %i.search.icon

  .ui.row
    .ui.divider

  = render partial: "bookmark_list", locals: { bookmarks: @bookmarks }
