- content_for :page_title do
  Home

= render(StatsComponent.new(title: "Bookmark Stats")) do |c|
  = c.stats([ { title: "Total Bookmarks", number: @stats[:total_count] }, { title: "Untagged Bookmarks", number: @stats[:untagged_count] }, { title: "Tags", number: 0 } ])

.bg-white.shadow.overflow-hidden.rounded-md
  %ul.divide-y.divide-gray-200
    - @recent_bookmarks.each do |bookmark|
      %li= render BookmarkCardComponent.new(bookmark: bookmark)
