<% content_for :page_title do %>
  Home
<% end %>

<%= render(StatsComponent.new) do |c| %>
  <%= c.stats([
    { title: "Total Bookmarks", number: @stats[:total_count] },
    { title: "Untagged Bookmarks", number: @stats[:untagged_count] }
  ]) %>
<% end %>

<div class="md:flex md:items-center md:justify-between px-4 sm:px-0">
  <h3 class="text-xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
    Recent Bookmarks
  </h3>
</div>

<div class="space-y-3">
  <%= render BookmarkCardComponent.with_collection(@recent_bookmarks) %>
</div>
