.dropdown {
  display: flex;
  flex-direction: column;

  transform-origin: center top;
  position: absolute;
  top: 100%;
  left: 0%;

  width: 100%;
  min-height: 150px;

  z-index: 998;

  padding: 0.5em 0.9em;

  background: rgb(27, 28, 29);
  color: rgba(255, 255, 255, 0.9);
}

.content {
  flex: 1 0 auto;
}

.tips {
  flex: 0 0 auto;

  width: 100%;
  border-top: 1px solid #444;
  padding-top: 0.5em;

  display: grid;
  grid-template-columns: [left] 2fr [center] 1fr [right] 2fr;

  align-content: center;
}

.left,
.center,
.right {
  display: flex;
  gap: 1em;
}

.left {
  grid-area: left;
  justify-content: flex-start;
}

.center {
  grid-area: center;
  justify-content: center;
}

.right {
  grid-area: right;
  justify-content: flex-end;
}
