= form_tag profile_path, method: :patch, class: "ui large form" do
  .ui.error.message
  .ui.stacked.segment
    .field
      .ui.left.icon.input
        %i.lock.icon
        = password_field_tag "password", "", placeholder: "**************"

    .field
      .ui.left.icon.input
        %i.lock.icon
        = password_field_tag "password_confirmation", "", placeholder: "**************"

    = submit_tag "Change", class: "ui fluid large green submit button"
