- content_for :page_title do
  Profile

- content_for :body do
  -# .ui.grid
    .ui.four.wide.column
      .ui.row
        .ui.vertical.menu
          .item Basic Info
          .item Security
          .item API Key

    .ui.twelve.wide.column
  .ui.row
    %h2.ui.header
      .content Basic Info

    = render partial: "form", locals: { user: @user }

  .ui.row
    .ui.divider

    %h2.ui.header
      .content Security

    = render partial: "password_form"

  .ui.row
    .ui.divider

    %h2.ui.header
      .content API Key
