- content_for :page_title do
  Profile

%h2.ui.dividing.header Basic Info
= render partial: "form", locals: { user: @user }
%br

%h2.ui.dividing.header Security
= render partial: "password_form"
%br

%h2.ui.dividing.header API Key
%p Documentation coming soon, I promise.

.ui.right.action.fluid.input#authData{ data: { email: @user.email, apiToken: @user.api_token } }
  = text_field_tag "api_token", @user.api_token
  = link_to profile_regenerate_index_path(@service_announcement), class: "ui negative button", method: :post do
    %i.refresh.icon
    regenerate
