- content_for :page_title do
  Profile

%h2.ui.dividing.header Basic Info
= render partial: "form", locals: { user: @user }
%br

%h2.ui.dividing.header Security
= render partial: "password_form"
%br

%h2.ui.dividing.header API Key
%p Coming soon! A functioning API and maybe some browser extensions are the next thing to be built!
