log
tmp
**/*.swp
**/*.swo
**/\.*
!.dockerignore
!public/assets/.sprockets-manifest-*.json
!public/assets/.manifest.json
**/*.*.*~
**/*.key

node_modules/
storage/
spec/
coverage/
public/packs-test
node_modules/
coverage/

*.db
*.local

docker/
!docker/entrypoint.sh

README.md
vender/bundle
