log/*
tmp/*
**/*.swp
**/*.swo
**/\.*
!.dockerignore
**/*.*.*~
**/*.key

node_modules/
storage/
spec/
coverage/
public/packs-test
node_modules/
coverage/

*.db
*.local

docker/
!docker/entrypoint.sh

README.md
