- content_for :page_title do
  Tag Wizard!

- content_for :custom_grid do
  .ui.fluid.horizontally.padded.stackable.grid
    .four.wide.column
    .six.wide.column
      %h1.huge.center.aligned.icon.header
        %i.bookmark.icon
        .content No Untagged Bookmarks!

      %p
        Congrats, you don't have any untagged bookmarks currently!
