- content_for :page_title do
  Editing "#{ @application.name }"

= render partial: "profiles/tabs"

%h2.ui.dividing.header Editing "#{ @application.name }"

= render partial: "form", locals: { application: @application }
