- content_for :page_title do
  Editing "#{ @service_announcement.title }"

- content_for :body do
  .ui.two.wide.column
    .ui.row
      = render partial: "menu", locals: { count: @count }

  .ui.fourteen.wide.column
    .ui.row
      = render partial: "form", locals: { service_announcement: @service_announcement }
