- content_for :page_title do
  Editing "#{ @service_announcement.title }"

- content_for :menu do
  .item
    .divider
    .header Service Announcement
    .menu
      = link_to admin_service_announcement_path(@service_announcement), class: "item" do
        %i.expand.icon
        view

= render partial: "form", locals: { service_announcement: @service_announcement }
