- content_for :page_title do
  Authorized Apps

= render "profiles/tabs" do
  %p
    You've authorized these apps to act on your behalf to interact with the transientBug API and access or modify your bookmark data.

  %table
    %thead
      %tr
        %th Application Name
        %th Created At
    %tbody
      - if @applications.any?
        - @applications.each do |application|
          %tr
            %td= application.name
            %td= render RelativeTimeComponent.new time: application.created_at

      - else
        %tr
          %td{ colspan: 2 }
            No applications authorized

  = paginate @applications
