- content_for :page_title do
  Authorized Apps

= render "profiles/tabs" do
  %h2 Authorized Apps

  %table
    %thead
      %tr
        %th Application Name
        %th Created At (UTC)
    %tbody
      - if @applications.any?
        - @applications.each do |application|
          %tr
            %td= application.name
            %td= application.created_at.to_s(:long)

      - else
        %tr
          %td{ colspan: 2 }
            No applications authorized

  = paginate @applications
