<div class="bg-gray-200 overflow-hidden rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="font-medium text-2xl">
      <%= title || "Nothing to see here yet" %>
    </h3>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <%= actions %>
  </div>
</div>
