%h1 Listing admin_applications

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @admin_applications.each do |admin_application|
      %tr
        %td= link_to 'Show', admin_application
        %td= link_to 'Edit', edit_admin_application_path(admin_application)
        %td= link_to 'Destroy', admin_application, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Application', new_admin_application_path
