- content_for :page_title do
  Home

- content_for :body do
  .ui.row
    %h4.header Hia #{ current_user.username }!

    %h2.dividing.header Most recent bookmarks
    = render partial: "bookmarks/bookmarks_list", locals: { bookmarks: @recent_bookmarks }
