- content_for :page_title do
  Home

%h2.ui.header transientBug
%p
  transientBug offers basic bookmark functionality, akin to pocket, pinboard, delicious and others, but with a few benefits:

  %ul.list
    %li
      %b Cheap
      For now, it's free. transientBug is currently in a closed, invite-only registration, however, when it gets to a stable and complete feature-set that is ready for public use, that all might change.

    %li
      %b Simple but Capable
      I really want a tool that provides painless bookmarking while also providing more advanced features like caching, searching, organizing, and availability across devices.

    %li
      %b No Tracking
      This might be shocking, if you know me in real life as I work on an analytics team, but I don't want to be tracking every movement around the site that a user makes. No tracking or ads. Ever.

    %li
      %b Hard Deletes
      Going with the above point, if you delete a bookmark, its
      %u gone
      and is not going to come back out of the blue.
