- content_for :page_title do
  Privacy Policy

%h2.ui.header Privacy Policy

%p
  Privacy takes the front stage in transientBug. That being said, don't store sensitive information.
  All user data is stored on transientBug servers, and the official web extensions only communicate with the transientBug API.

%p
  The following data is sent by the official web extension when its page action is clicked: The active tabs Title and URL. That's it.

%p
  Additional details:

  %ul.list
    %li Privacy related bugs take priority.
    %li Everything is under SSL, including the API for extensions and apps.
    %li No ad, ever.
    %li No analytic scripts, third party data collection.
    %li I will never share, sell or otherwise give away user data to third parties.
    %li If there is a privacy breach, all users will be notified via the appropriate channels.
    %li If you find a privacy leak, please be responsible and report it discreetly to: me (at) transientbug.ninja
    %li Don't be stupid, don't share your login credentials without understanding the risks.
    %li If you request your account to be closed, all your bookmarks, authorized apps, and developer apps are destroyed. Gone forever.
