= javascript_tag nonce: true, "data-turbolinks-track": "reload", "data-turbolinks-eval": true do
  - if content_for? :store
    window.__initStore__ = #{ raw content_for(:store) }
  - else
    window.__initStore__ = {}
