.flex.items-center.text-xs.text-gray-500
  = inline_svg_pack_tag "feather/calendar.svg", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"

  %time{ datetime: machine_exact, title: human_exact }
    = relative_word
    ago
