/*@import "components/_buttons";*/
@import "components/_checkbox";
/*@import "components/_tables";*/
@import "components/_time";

/*@import "components/_tags";*/

/*@import "components/_backgrounds";*/
/*@import "components/_modal";*/

/*@import "components/_pager";*/
/*@import "components/_bulk_action_menu";*/
/*@import "components/_service_announcement";*/
/*@import "components/_bookmark_card";*/

@tailwind base;
@tailwind components;

.tb.service-announcement {
  @apply rounded-none border-r-0 border-t-0 border-l-0;

  .announcement-icon {
    @apply rounded-none;
  }
}

.layout__body {
  @apply bg-gray-100;
}

.layout__main {}

.layout__content {
  @apply mx-auto py-6 px-0;
}

@screen md {
  .layout__content {
    @apply px-6;
  }
}

@screen lg {
  .layout__content {
    @apply px-8;
  }
}

/*
 * ==============================================
 *   Navbar                               hia j
 * ==============================================
 */
.navbar {
  @apply bg-red-600 shadow-md;
}

.navbar__container {
  @apply mx-auto px-4;
}

@screen sm {
  .navbar__container {
    @apply px-6;
  }
}

@screen lg {
  .navbar__container {
    @apply px-8;
  }
}

.navbar__inner {
  @apply flex items-center justify-between h-16;
}

.navbar__section {
  @apply flex items-center;
}

.navbar__section--growable {
  @apply flex-grow;
}

.navbar__row {
  @apply flex items-baseline;
}

.navbar__row--centered {
  @apply mx-auto w-7/12;
}

.navbar__logo-link {
  @apply flex-shrink-0 inline;
}

.navbar__logo-img {
  @apply h-12 w-12 inline;
}

.navbar__logo-header {
  @apply hidden font-bold text-xl text-white whitespace-no-wrap;
}

@screen md {
  .navbar__logo-header {
    @apply inline;
  }
}

.navbar__button {
  @apply px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 transition duration-150 ease-in-out;

  &:hover, &:focus {
    @apply navbar__button--hover;
  }
}

.navbar__button--hover {
  @apply text-white bg-red-700 outline-none;
}

.navbar__button--active {
  @apply px-3 py-2 rounded-md text-sm font-medium leading-5 text-white bg-red-900 outline-none;
}

/* Navbar search component
 * ============================================
 *   Navbar   | Searchbar        icon |   hia
 * ============================================
 */

.searchbar {
  @apply relative w-full inline-block;
}

.searchbar__input {
  @apply w-full bg-red-800 text-sm text-white border border-transparent rounded py-1 px-2 pr-10 appearance-none leading-normal shadow-inner transition duration-150 ease-in-out;

  &:hover {
    @apply searchbar__input--hover;
  }

  &:focus {
    @apply searchbar__input--focus;
  }
}

.searchbar__input--hover {
  @apply border-gray-500;

  & ~ .searchbar__right {
    @apply text-gray-500;
  }
}

.searchbar__input--focus {
  @apply border-white;

  & ~ .searchbar__right {
    @apply text-white;
  }
}

.searchbar__right {
  @apply absolute top-0 right-0 h-full w-10 flex flex-col items-center justify-around text-gray-600 pointer-events-none;
}

.searchbar__icon {
  & > svg.feather {
    @apply stroke-current pointer-events-none w-4 h-4 transition duration-150 ease-in-out;
  }
}

/* Dropdowns
 * +---------+
 * | trigger |
 * +---------+
 *
 * +---------+
 * | row     |
 * +---------+
 * | row     |
 * | row     |
 * | row     |
 * +---------+
 */
.dropdown {
  @apply relative inline-flex text-left;
}

.dropdown--hoverable:hover > .dropdown__container {
  @apply block;
}

.dropdown__trigger {
  /*@apply ;*/
}

.dropdown__container {
  @apply origin-top-right absolute right-0 pt-1 w-56 rounded-md shadow-lg z-10;

  top: 2.5rem;
}

.dropdown__container--closed {
  @apply hidden;
}

.dropdown__container--opened {
  @apply block;
}

.dropdown__menu {
  @apply rounded-md bg-white shadow-xs;
}

.dropdown__row {
  @apply py-1;
}

.dropdown__item {
  @apply block px-4 py-2 text-sm leading-5 text-gray-700;
}

.dropdown__link {
  @apply dropdown__item;

  &:hover, &:focus {
    @apply dropdown__link--hover;
  }
}

.dropdown__link--hover {
  @apply bg-gray-200 text-gray-900 outline-none;
}

.dropdown__header {
  @apply dropdown__item font-bold text-base text-gray-900 border-b border-gray-300;
}

.dropdown__divider {
  @apply border-t border-gray-300;
}

/*
 * Specalized full width menu for small/mobile screens, ideal for
 * faking an expanding navbar.
 */
.navbar__dropdown {
  @apply dropdown;

  position: inherit;
}

@screen lg {
  .navbar__dropdown {
    @apply dropdown relative;
  }
}

.navbar__dropdown-container {
  @apply dropdown__container w-screen rounded-none;

  top: 3.5rem;

  &:before {
    display: none;
  }
}

@screen lg {
  .navbar__dropdown-container {
    @apply dropdown__container;

    &:before {
      display: inherit;
    }
  }
}

.navbar__dropdown-menu {
  @apply dropdown__menu rounded-none;
}

@screen lg {
  .navbar__dropdown-menu {
    @apply dropdown__menu;
  }
}

/*
 * Page Headers
 */

.page-header {
  @apply bg-white shadow flex flex-col;
}

.page-header__container {
  @apply py-6 px-4;
}

@screen sm {
  .page-header__container {
    @apply px-6;
  }
}

@screen lg {
  .page-header__container {
    @apply px-8;
  }
}

.page-header__row {
  @apply w-full;
}

@screen sm {
  .page-header__row {
    @apply;
  }
}

@screen lg {
  .page-header__row {
    @apply flex items-center justify-between;
  }
}

.page-header__main {
  @apply flex-1 min-w-0;
}

.page-header__title {
  @apply text-2xl font-bold leading-7 text-gray-900;
}

@screen sm {
  .page-header__title {
    @apply text-3xl leading-9 truncate;
  }
}

.page-header__meta {
  @apply mt-0 flex flex-row flex-wrap mt-2;
}

.page-header__metadata {
  @apply flex items-center text-sm leading-5 text-gray-500 mr-4;

  & > svg.feather {
    @apply mr-1;
  }
}

.page-header__actions {
  @apply mt-2 flex;
}

@screen lg {
  .page-header__actions {
    @apply mt-0 ml-4;
  }
}

/*
 * Breadcrumbs
 */

.breadcrumbs {
  @apply text-gray-500 mb-2;
}

.breadcrumbs__list {
  @apply list-none p-0 inline-flex;
}

.breadcrumbs__item {
  @apply flex items-center;

  &:last-child {
    @apply text-gray-700
  }
}

.breadcrumbs__separator {
  & > svg.feather {
    @apply stroke-current w-4 h-4 mx-1;
  }
}

/*
 * Buttons
 */
@define-mixin button-colors $bg, $border, $text {
  @apply bg-$(bg) text-$(text) border border-$(border);
}

.button {
  @apply inline-flex items-center px-4 py-2 border text-sm leading-5 font-medium rounded-md shadow cursor-pointer transition duration-150 ease-in-out;

  @add-mixin button-colors white, white, gray-800;

  &:focus {
    @apply outline-none shadow-outline border-blue-300;
  }

  & > svg.feather {
    @apply h-4 w-4 mx-1 stroke-current;
  }
}

.button--gray {
  @add-mixin button-colors white, gray-300, gray-700;

  &:hover {
    @add-mixin button-colors gray-200, gray-300, gray-900;
  }
}

.button--green {
  @add-mixin button-colors white, green-800, green-900;

  &:hover {
    @add-mixin button-colors green-800, green-900, white;
  }
}

.button--icon {
  @apply px-1;
}

/*
 * Button groups
 *
 * These feel like a bit of a hack for BEM but idk, who cares
 */
.button-group {
  @apply flex flex-row;

  & .button:not(:last-child) {
    @apply rounded-r-none;
  }

  & .button:not(:first-child) {
    @apply border-l-0 rounded-l-none;

    &:hover {
      @apply border-l-0;
    }
  }
}

/*
 * Flash notifications
 */
.flashes {
  @apply relative;
}

.flashes__container {
  @apply absolute top-0 w-full;
}

.flashes__flash {
  @apply flex-row inline-flex justify-between items-center px-4 py-5 w-full shadow-md bg-white;
}

@screen md {
  .flashes__flash {
    @apply rounded-md;
  }
}

.flashes__close {}
.flashes__close-button {
}

.flashes__message {
  @apply w-full;
}

.flashes__flash--notice {
}

.flashes__flash--info {
  @apply bg-blue-600;
}

.flashes__flash--error {
  @apply bg-red-500;
}


/*
 * Admin side index lists
 */
.resource-list {
  @apply min-w-full leading-normal border-gray-300 border shadow-sm bg-white mb-4;
}

@screen md {
  .resource-list {
    @apply rounded-md;
  }
}

.resource-list__row {
  @apply px-5 py-5 border-b border-gray-300 text-sm flex items-center justify-between;
}

.resource-list__column:not(:last-child) {
  @apply mr-2;
}

/*
 * Forms
 */

.form {
  @apply form flex flex-col w-full;
}

.form__fieldset {
  @apply border-2 border-gray-500 rounded-md py-2 mb-2;
}

.form__legend {
  @apply font-bold text-gray-700 text-3xl leading-9 truncate ml-5;
}

@screen md {
  .form__legend {
    @apply text-2xl leading-7;
  }
}

.form__field {
  @apply w-full px-3 mb-6;
}

@screen md {
  .form__field {
    @apply mb-3;

    max-width: 30rem;
  }
}

.form__field--error {
  @apply text-red-700;

  & .form__label {}

  & .form__input {
    @apply border-red-700;

    &:active, &:focus {
      @apply border-red-400;
    }
  }
}

.form__label {
  @apply block uppercase tracking-wide text-xs font-bold;
}

.form__input {
  @apply appearance-none block w-full bg-gray-100 border rounded py-2 px-3;

  &:active, &:focus {
    @apply border-blue-400;
  }
}

.form__field-error {
  @apply text-xs italic;
}

.form__actions {
  @apply ;
}

.feather {
  @apply inline-block;
}

@tailwind utilities;

/* @tailwind screens; */
