- content_for :page_title do
  Editing "#{ @invitation.title }"

- content_for :menu do
  .item
    .divider
    .header Invitation
    .menu
      = link_to admin_invitation_path(@invitation), class: "item" do
        %i.expand.icon
        view

= render partial: "form", locals: { invitation: @invitation }
