%h1.huge.center.aligned.icon.header
  %i.bookmark.icon
  Nothing found!

%p Maybe try loosening your search query, or go out and make that bookmark!

= render partial: "bookmarks/form", locals: { bookmark: @bookmark }
