%h1.huge.center.aligned.icon.header
  %i.bookmark.icon
  Query Error!

%p Something went wrong while trying to parse your query, are you sure its formatted correctly and has no typos?
%p= @error.message
