- content_for :page_title do
  Searching Bookmarks

= render "bookmarks/navbar"

%h1 Search Results

.query_builder{ data: { url: bookmarks_search_index_path, method: "POST" } }= @query.to_json
= javascript_pack_tag "query_builder"

= render partial: "bookmarks/bookmarks_list", locals: { bookmarks: @bookmarks }
