- content_for :page_title do
  Searching Bookmarks

= render "bookmarks/navbar"

%h1 Search Results

- if @bookmarks.errors.any?
  %ul
    - @bookmarks.errors.each do |k, v|
      %li
        = k
        = v.join ", "

- else
  = render partial: "bookmarks/bookmarks_list", locals: { bookmarks: @bookmarks.each }
