<div class="ui basic modal">
  <div class="ui icon header">
    <i class="download icon"></i>
    Recache Bookmark?
  </div>
  <div class="content">
    <p>This will cause the offline cache for this bookmark to be recached.</p>
    <table class="ui celled table">
      <tbody>
        <tr>
          <td><b>Title</b></td>
          <td><%= model.title %></td>
        </tr>
        <tr>
          <td><b>URL</b></td>
          <td><%= model.uri %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <div class="ui cancel inverted button">
      <i class="remove icon"></i>
      Cancel!
    </div>
    <a href="<%= modal.url %>" data-method="post" rel="nofollow" class="ui red ok inverted button">
      <i class="checkmark icon"></i>
      Yes, I'm sure
    </a>
  </div>
</div>
