- content_for :page_title do
  Reseting Password for "#{ @user.username }"

- content_for :menu do
  .item
    .divider
    .header User
    .menu
      = link_to admin_user_path(@user), class: "item" do
        %i.expand.icon
        view

= render partial: "form", locals: { user: @user }
