<div>
  <div class="px-4 py-5 sm:p-6">
    <dt class="text-base font-normal text-gray-900">
      <%= @title %>
    </dt>

    <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
      <div class="flex items-baseline text-2xl font-semibold text-limegreen-500">
        <%= @number %>
      </div>
    </dd>
  </div>
</div>
