- content_for :page_title do
  Bookmarks Tagged '#{ @tag.label }'

%h1
  Tag: 
  .ui.massive.label{ class: [ @tag.color ] }= @tag.label

= render partial: "bookmarks/bookmarks_list", locals: { bookmarks: @bookmarks }
