- content_for :page_title do
  Import

= render "profiles/tabs" do
  %h2 Import
  %p
    Currently, importing from
    = link_to "pinboard", "https://pinboard.in/"
    and
    = link_to "pocket", "https://getpocket.com/"
    \.

  %h4 Pinboard
  %p
    %ol
      %li Click "settings"
      %li Click the "backup" tab
      %li Click the JSON format version

  %h4 Pocket
  %p
    %ol
      %li Click on your username in the upper right hand corner
      %li Click "Export"
      %li Click "Export HTML File"

  = render "form", user: @user
