/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./public
 *= require_self
 */
@import "semantic-ui";

// TODO: Replace with a local font
@import url("//fonts.googleapis.com/css?family=Maven+Pro:700,900");

html, body{
  height: 100%;
}

.header {
  font-family: "Maven Pro", $font-family;
}

.ui.pusher {
  min-height: 100%;
}

.main.container {
  margin-top: 5em;
}

.item.padder {
  margin-top: 2em;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.menu {
  & > .item.hidden, & > .item.right.hidden {
    display: none;
  }
}
