@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .turbo-progress-bar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 9999;
    transition:
      width 300ms ease-out,
      opacity 150ms 150ms ease-in;
    transform: translate3d(0, 0, 0);

    height: 2px;
    @apply bg-limegreen-500;
  }

  turbo-frame {
    display: block;
  }

  .default-input {
    @apply appearance-none min-w-0 bg-white border border-gray-300 shadow-sm rounded-md py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500 focus:border-gray-400 focus:placeholder-gray-400;
  }

  .btn {
    @apply inline-flex cursor-pointer border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium;
  }

  .btn.-primary {
    @apply bg-limegreen-500 hover:bg-limegreen-600 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500;
  }

  .btn.-secondary {
    @apply bg-gray-500 hover:bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
  }

  .btn.-tertiary {
    @apply text-sm font-medium text-gray-400 hover:text-gray-900
    /*@apply bg-gray-500 hover:bg-limegreen-500 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500;*/
  }

  .admin {
    .filter-form {
      @apply my-4 space-y-2;

      .input {
        @apply appearance-none min-w-0 bg-white border border-gray-300 shadow-sm rounded-md py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500 focus:border-gray-400 focus:placeholder-gray-400;
      }

      & .field-group {}

      & .prefixed {
        @apply  mt-1 flex;

        & .prefix {
          @apply  -mr-px px-4 pr-8 py-2 border border-gray-300 text-sm font-medium rounded-l-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500 focus:border-gray-400;
        }

        & .input {
          @apply rounded-l-none;
        }
      }

      & .actions {
        @apply flex flex-row space-x-4 mt-2
      }
    }

    .generic-form {
      .form-wrapper {
        @apply space-y-8 divide-y divide-gray-200;
      }

      .section:not(:first-child) {
        @apply pt-8;
      }

      .input {
        @apply appearance-none min-w-0 bg-white border border-gray-300 shadow-sm rounded-md py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500 focus:border-gray-400 focus:placeholder-gray-400;
      }

      .color-input {
        @apply appearance-none min-w-0 bg-white border border-gray-300 shadow-sm rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500 focus:border-gray-400 w-10 h-10 p-0;
      }

      .actions {
        @apply pt-5 flex justify-end;
      }
    }

    .btn {
      @apply inline-flex cursor-pointer border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium shadow;
      &.-primary {
        @apply bg-limegreen-500 hover:bg-limegreen-600 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500;
      }

      &.-secondary {
        @apply bg-gray-500 hover:bg-gray-600 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
      }

      &.-tertiary {
        @apply text-sm font-medium text-gray-400 hover:text-gray-900
        /*@apply bg-gray-500 hover:bg-limegreen-500 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-limegreen-500;*/
      }
    }

    .btn-group {
      @apply inline-flex flex-row;

      & > form:first-child {
        & .btn {
          @apply rounded-l-md;
        }
      }

      & > form:last-child {
        & .btn {
          @apply rounded-r-md;
        }
      }

      & .btn {
        @apply rounded-none;

        &:first-child {
          @apply rounded-l-md;
        }

        &:last-child {
          @apply rounded-r-md
        }
      }

    }

    .sidebar-nav {
      & .item {
        @apply flex items-center p-2 w-full text-sm font-medium rounded-md text-gray-600 hover:bg-white hover:text-gray-900;

        & svg {
          @apply mr-3 h-6 w-6 stroke-current;
        }

        &.active {
          @apply bg-gray-200 text-gray-900 shadow-inner;
        }
      }

      & details.tree {
        & summary {
          @apply cursor-pointer select-none;
        }

        & .tree-leafs {
          @apply space-y-1 ml-5 border-l border-dotted border-limegreen-600 pl-2;
        }
      }

      &.-secondary {
        & .item {
          @apply text-limegreen-800 hover:bg-gray-800 hover:bg-opacity-30 hover:text-limegreen-400;
        }
      }
    }

    .page-header {
      & .tabs {
        & .tab {
          @apply whitespace-nowrap px-3 py-2 font-medium text-sm rounded-md;
          @apply text-gray-500 hover:text-gray-700;

          &.active {
            @apply bg-limegreen-400 text-white shadow-inner;
          }
        }
      }
    }

    .generic-table-wrapper {
      @apply overflow-x-auto border border-gray-200 rounded-md shadow-md;

      .generic-table {
        @apply min-w-full divide-y divide-gray-200;

        & th {
          @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
        }

        & tbody {
          @apply bg-white divide-y divide-gray-200;

          & td {
            @apply px-6 py-4 whitespace-nowrap;
          }
        }
      }
    }
  }
}
