/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./public
 *= require_self
 */
@import "common";


.bookmarks.list {
  .item {
    .inline {
      .header {
        display: inline-block;
      }

      .date {
        display: inline-block;
      }
    }
  }
}

.tb.nav.search {
  display: flex;
  flex-grow: 1;

  background: #1B1C1D;
  color: rgba(255, 255, 255, 0.9);

  & > .input {
    display: flex;
    flex-grow: 1;

    & > form {
      flex-grow: 1;

      & > input[type="search"] {
        border-width: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;

        background: #1B1C1D;
        color: rgba(255, 255, 255, 0.9);

        &:focus {
          background: rgba(255, 255, 255, 0.15);
          color: #ffffff !important;
        }
      }
    }
  }

  & > .results {
    width: 100%;
    flex-grow: 1;

    background: rgb(27, 28, 29);
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    flex-grow: 1;
    position: absolute;
    top: 100%;
    left: 0%;
    transform-origin: center top;
    visibility: visible;
    z-index: 998;

    margin-top: 0;
    border-radius: 0;

    border: 0;

    & > :first-child, & > :last-child {
      border-radius: 0;
    }

    & > .action {
      background: transparent;
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }

    & > .message.empty {
      & > .header, & > .description {
        color: rgba(255, 255, 255, 0.9);
      }
    }

    & > .result {
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }

      & > .content {
        & > .title, & > .description {
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}
