/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./public
 *= require_self
 */
@import "common";

.bookmarks.list {
  .item {
    .inline {
      .header {
        display: inline-block;
      }

      .date {
        display: inline-block;
      }
    }
  }
}

.tb {
  & > .key-combo {
    display: flex;

    &:not(:first-child) {
      padding-left: 1em;
    }

    & > :last-child {
      margin-right: .5em;
    }
  }

  &.navbar.search {
    position: relative;

    display: flex;
    flex: 1 0 auto;

    color: rgba(255, 255, 255, 0.9);
    padding: 0em 1.14em;

    & > .navbar-item {
      display: grid;
      grid-template-columns: [center] 1fr [right] 30px;

      width: 100%;
      height: 100%;

      align-content: center;
      justify-content: center;

      & > .input {
        grid-area: center;
        text-align: center;

        //font-size: 80%;

        & > form {
          flex-grow: 1;

          & > input[type="search"] {
            border-width: 0;
            border-radius: 0;

            width: 100%;
            height: 100%;

            background: #1B1C1D;
            //color: rgba(255, 255, 255, 0.9);
            color: #9d9d9d;

            text-align: center;

            &:focus, &:active {
              //background: rgba(255, 255, 255, 0.15);
              //color: #ffffff !important;
              color: #9d9d9d;
            }
          }
        }
      }

      & > .header {
        grid-area: center;
        text-align: center;

        & > .title {
          display: block;
        }

        & > .query {
          display: block;

          color: #9d9d9d;
        }
      }

      & > .key {
        grid-area: right;
        align-self: center;

        display: flex;
        justify-content: flex-end;
      }
    }

    & > .dropdown {
      display: flex;
      flex-direction: column;

      transform-origin: center top;
      position: absolute;
      top: 100%;
      left: 0%;

      width: 100%;
      min-height: 150px;

      z-index: 998;

      padding: .5em .9em;

      background: rgb(27, 28, 29);
      color: rgba(255, 255, 255, 0.9);

      & > .content {
        flex: 1 0 auto;
      }

      & > .tips {
        flex: 0 0 auto;

        width: 100%;
        border-top: 1px solid #444;
        padding-top: .5em;

        display: grid;
        grid-template-columns: [left] 2fr [center] 1fr [right] 2fr;

        align-content: center;

        & > .left, & > .center, & > .right {
          display: flex;
        }

        & > .left {
          grid-area: left;
          justify-content: flex-start;
        }

        & > .center {
          grid-area: center;
          justify-content: center;
        }

        & > .right {
          grid-area: right;
          justify-content: flex-end;
        }
      }
    }
  }
}
