.modal-container {
  @apply fixed w-full h-auto inset-0 z-50 overflow-hidden flex justify-center items-center;

  &.modal-dimmed-background {
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal-dialogue {
  & > .modal-dialogue-body {
    @apply text-left;

    & > * {
      @apply px-6 py-4;
    }
  }

  @apply shadow max-w-full mx-auto rounded z-50 overflow-y-auto;

  max-height: calc(100% - 60px);
  margin-top: 60px;

  @screen md {
    @apply w-1/2;

    max-width: 800px;
  }
}

.modal-body-header {
  @apply flex justify-between items-center;

  h2 {
    @apply text-xl;
  }
}

.modal-header-close {
  @apply cursor-pointer z-50 text-gray-900;

  opacity: 0.5;

  transition: all 250ms linear;

  &:hover {
    opacity: 0.9;
  }
}

.modal-body-content {
  @apply my-5 overflow-scroll;
}

.modal-body-actions {
  @apply flex flex-row justify-between items-center;

  & > *:not(:first-child) {
    @apply ml-2;
  }
}

.bg-danger {
  background: linear-gradient(87deg, #db2828 0, #f55036 100%);
}

.modal-light-dialogue {
  @apply bg-white;

  & .modal-body-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }

  & .modal-body-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
}

.modal-dark-dialogue {
  @apply text-white;

  & .modal-body-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  }

  & .modal-body-actions {
    border-top: 1px solid rgba(255, 255, 255, 0.17);
  }
}
