- if images.any?
  .ui.cards
    - images.each do |image|
      = render partial: "card", locals: { image: image }

- else
  %h1.huge.center.aligned.icon.header
    %i.warning.sign.icon
    .content Uh oh, nothing found!

- if images.respond_to? :total_pages
  %br
  = paginate images
