- content_for :navbar_right do
  .right.menu
    - if policy(Image).new?
      .ui.item
        = active_link_to new_image_path, class: "ui positive basic icon button" do
          %i.cloud.upload.icon
