- content_for :navbar_right do
  .right.menu
    - if policy(Image).create?
      .ui.item
        = active_link_to new_image_path, class: "ui inverted green icon button", class_active: "active" do
          %i.cloud.upload.icon
