- content_for :page_title do
  = @image.title

- content_for :secondary_navbar do
  = link_to "back", image_path(@image), class: "ui item"

%h1 Editing Image

= image_tag image_path(@image, format: :gif)

= render partial: "form", locals: { image: @image }
