- content_for :page_title do
  Images

= render "navbar"

- content_for :body do
  .ui.fluid.stackable.grid
    .ui.centered.row
      %h1 All Images

    = render partial: "cards", locals: { images: @images }
