- content_for :page_title do
  Images

= render "navbar"

- content_for :body do
  .ui.fluid.grid.container
    .row
      %h1 All Images

    .row
      = render partial: "cards", locals: { images: @images }
