- content_for :page_title do
  = @image.title

= render "navbar"

- content_for :body do
  .ui.fluid.grid.container
    .row
      %h1 New Image

    .row
      = render partial: "form", locals: { image: @image }
