- content_for :page_title do
  Image search

%h1 Image Search Results

.ui.search
  .ui.icon.input
    = form_tag search_images_path, method: :get do
      = search_field_tag "q", params[:q], class: "ui prompt", placeholder: "Search Images ...", aria: { label: "search" }
    %i.search.icon

%br

= render partial: "cards", locals: { images: @images }
