- content_for :page_title do
  Images

= render "navbar"

- content_for :body do
  .ui.fluid.grid.container
    .row
      %h1
        Images in Tag
        .ui.label.tag{ class: [color_for(params[:tag])] }= params[:tag]

    .row
      = render partial: "cards", locals: { images: @images }
