!!! 5
%html
  %head
    = render partial: "layouts/admin/head"

  %body{ class: [  controller_name, action_name ] }
    = render partial: "layouts/admin/body"

    = render partial: "layouts/admin/footer"
