!!! 5
%html
  %head
    = render "layouts/common/head" do
      %title transientBug Admin #{ content_for :page_title }

  %body.relative.bg-gray-50.admin{ class: [ controller_name, action_name ] }
    = render "layouts/admin/body"
