!!! 5
%html
  %head
    = render partial: "layouts/application/head"

  %body{ class: [  controller_name, action_name ] }
    = render partial: "layouts/application/body"

    = render partial: "layouts/application/footer"
