!!! 5
%html
  %head
    = render "layouts/common/head" do
      %title transientBug #{ content_for :page_title }

  %body.bg-gray-200.blank{ class: [  controller_name, action_name ] }
    = yield

    = render "layouts/common/footer"
